---
import BaseLayout from "@/layouts/BaseLayout.astro";
import EntriesOne from "@/components/blog/EntriesOne.astro";
import { getCollection } from "astro:content";
export async function getStaticPaths() {
  const allPosts = await getCollection("posts");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <section>
    <div class="p-8 max-w-2xl">
      <div>
        <p class="font-medium text-zinc-700 uppercase">
          All posts tagged with <span class="font-serif italic">{tag}</span>
        </p>
      </div>
      <ul class="grid grid-cols-1 gap-y-12 mt-6">
        {
          posts.map((post) => (
            <EntriesOne
              url={"/posts/" + post.slug}
              title={post.data.title}
              description={post.data.description}
              alt={post.data.title}
              pubDate={post.data.pubDate.toString().slice(0, 10)}
              author={post.data.author}
              image={post.data.image.url}
            />
          ))
        }
      </ul>
    </div>
  </section>
</BaseLayout>
