---
const { title, url, description, pubDate, author, image } = Astro.props;
---

<li>
  <a href={url} title={title}>
    <article class="gap-4 text-zinc-700 text-sm w-full hover:text-accent-600">
      <div class="flex flex-col h-full justify-between w-full">
        <img src={image} alt="" />
        <p class="uppercase font-medium mt-8">
          {title}
        </p>
        <p class="mt-2 font-serif line-clamp-2">
          {description}
        </p>
      </div>
      <div
        class="font-serif italic mt-8 text-sm inline-flex items-center w-full tracking-wide gap-2">
        <p>
          {author}
        </p>
         &middot;
        <p><time datetime="2020-03-16"> {pubDate}</time></p>
      </div>
    </article>
  </a>
</li>
