---
// Images
import { Image } from "astro:assets";
// Fundations
import BaseLayout from "./BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Sections
import Subscribe from "@/components/blog/Subscribe.astro";
// Props
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <section>
    <Wrapper variant="standard">
      <div class="relative">
        <!-- Sticky Text -->
        <div class="sticky top-0 pt-32 z-10">
          <Text
            tag="h1"
            variant="display3XL"
            class="text-black mix-blend-difference text-center text-balance font-serif max-w-4xl tracking-tight mx-auto font-light"
          >
            {frontmatter.title}
          </Text>
        </div>
        <div class="relative z-10">
          <!-- Background Image -->
          <Image
            width={1000}
            height={1000}
            src={frontmatter.image.url}
            alt={frontmatter.image.alt}
            class="w-full h-auto object-cover max-w-xl mx-auto mt-24"
          />
        </div>
      </div>
    </Wrapper>
  </section>
  <section>
    <Wrapper variant="narrow" class="py-24">
      <div>
        <div>
          <Text tag="p" variant="textXS" class="text-center text-base-500">
            <time
              datetime={new Date(frontmatter.pubDate).toLocaleDateString(
                "en-US",
                {
                  year: "numeric",
                  month: "long",
                  day: "2-digit",
                }
              )}
            >
              {
                new Date(frontmatter.pubDate).toLocaleDateString("en-US", {
                  year: "numeric",
                  month: "long",
                  day: "2-digit",
                })
              }</time
            >
          </Text>
          <Text
            tag="h1"
            variant="displayMD"
            class="font-serif font-light leading-6 mt-8 md:leading-8 text-base-500 text-center"
          >
            <span class="text-black font-medium">{frontmatter.author}</span> — {
              frontmatter.description
            }</Text
          >
          <div class="flex justify-center gap-2 mt-4">
            {
              frontmatter.tags.map((tag) => (
                <span>
                  <a
                    href={`/tags/${tag}`}
                    class="text-base-500 uppercase text-xs font-medium hover:underline"
                  >
                    {tag}
                  </a>
                </span>
              ))
            }
          </div>
        </div>
        <Wrapper variant="prose" class="max-w-xl mx-auto mt-24"
          ><slot /></Wrapper
        >
      </div>
    </Wrapper>
  </section>
  <Subscribe />
</BaseLayout>
