---
// Assets
import Logo from "@/components/global/Logo.astro";
import Signature from "@/components/global/Signature.astro";
// Fundations
import Text from "../fundations/elements/Text.astro";
import Wrapper from "../fundations/containers/Wrapper.astro";
const footerLinks = [
  {
    id: "listen-on",
    title: "Listen on",
    platforms: [
      { name: "Spotify", link: "#_" },
      { name: "Apple Podcasts", link: "#_" },
      { name: "YouTube", link: "#_" },
      { name: "Overcast", link: "#_" },
      { name: "Pocket Casts", link: "#_" },
      { name: "Castbox", link: "#_" },
      { name: "Stitcher", link: "#_" },
      { name: "iHeartRadio", link: "#_" },
      { name: "Google Podcasts", link: "#_" },
      { name: "Amazon Music", link: "#_" },
    ],
  },
  // Add more sections as needed
];
---

<footer class="pb-2 bg-black w-full z-0">
  <Wrapper variant="standard" class="pt-12 lg:pt-12">
    <svg
      class="max-w-4xl text-white"
      viewBox="0 0 1728 329"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M112.112 245.404L136.312 240.362V132.301C136.312 124.794 134.967 118.52 132.279 113.478C129.702 108.437 125.724 104.683 120.346 102.219C114.969 99.6417 108.022 98.3532 99.5072 98.3532C90.6561 98.3532 82.1972 99.5856 74.1304 102.05C66.1756 104.403 59.5653 106.868 54.2995 109.445L52.1148 105.916C60.8538 99.4176 68.4164 94.0957 74.8026 89.9503C81.3009 85.8049 87.0709 82.6118 92.1126 80.371C97.1544 78.1302 101.916 76.6177 106.398 75.8334C110.879 74.9371 115.641 74.4889 120.683 74.4889C137.152 74.4889 149.028 78.9145 156.311 87.7655C163.593 96.5046 167.235 110.397 167.235 129.444V240.362L191.267 245.404V249.942H112.112V245.404ZM82.3653 249.942H3.37786V245.404L27.4102 240.362V28.9452C25.9537 28.2729 23.881 27.3766 21.192 26.2562C18.6151 25.0238 15.5341 23.6233 11.9488 22.0548C8.36359 20.3742 4.38621 18.5255 0.0166991 16.5088V13.4838L57.6607 0.543303H58.3329V105.412V240.362L82.3653 245.404V249.942ZM289.032 74.4889C300.796 74.4889 311.048 76.9538 319.787 81.8835C328.526 86.7012 335.472 93.8717 340.626 103.395C345.78 112.806 348.861 124.458 349.869 138.351H238.615V128.604H331.383L318.274 135.326C317.154 123.226 315.137 113.31 312.224 105.58C309.423 97.849 305.67 92.1351 300.964 88.4378C296.371 84.6285 290.713 82.7238 283.991 82.7238C274.915 82.7238 267.129 85.3567 260.63 90.6225C254.132 95.8884 249.146 103.563 245.673 113.647C242.2 123.618 240.463 135.718 240.463 149.947C240.463 168.658 242.872 183.895 247.69 195.659C252.62 207.311 259.734 215.826 269.033 221.204C278.333 226.582 289.648 229.271 302.981 229.271C309.143 229.271 315.193 228.43 321.131 226.75C327.069 225.069 332.615 222.548 337.769 219.187C343.035 215.826 347.517 211.624 351.214 206.583L353.903 208.431C346.956 219.523 339.954 228.374 332.895 234.985C325.949 241.483 318.611 246.188 310.88 249.101C303.261 251.902 294.914 253.303 285.839 253.303C271.274 253.303 258.11 250.054 246.345 243.556C234.693 236.945 225.45 227.254 218.616 214.481C211.894 201.597 208.532 185.744 208.532 166.921C208.532 150.227 211.669 134.878 217.944 120.873C224.33 106.868 233.517 95.6643 245.505 87.2614C257.605 78.7464 272.114 74.4889 289.032 74.4889ZM424.374 105.412V240.362L448.407 245.404V249.942H369.419V245.404L393.452 240.362V106.084C391.659 104.964 389.082 103.395 385.721 101.378C382.472 99.2495 377.038 95.7763 369.419 90.9587V87.9336L423.702 72.6403H424.374V105.412ZM526.554 126.251V240.362L550.586 245.404V249.942H471.431V245.404L495.631 240.362V129.612C495.631 122.666 494.399 116.896 491.934 112.302C489.581 107.708 485.884 104.235 480.842 101.882C475.912 99.5296 469.526 98.3532 461.683 98.3532C453.729 98.3532 446.054 99.4736 438.659 101.714C431.265 103.843 425.103 106.14 420.173 108.605L418.156 104.067C426.447 97.9051 433.618 92.9193 439.668 89.11C445.718 85.1887 451.096 82.1636 455.801 80.0349C460.507 77.9061 464.988 76.4496 469.246 75.6653C473.503 74.8811 477.985 74.4889 482.691 74.4889C492.998 74.4889 501.345 76.3376 507.731 80.0349C514.229 83.6201 518.991 89.2221 522.016 96.8407C525.041 104.459 526.554 114.263 526.554 126.251ZM628.733 126.251V240.362L652.766 245.404V249.942H573.61V245.404L597.81 240.362V129.612C597.81 122.666 596.578 116.896 594.113 112.302C591.76 107.708 588.063 104.235 583.021 101.882C578.092 99.5296 571.705 98.3532 563.863 98.3532C555.908 98.3532 548.233 99.4736 540.839 101.714C533.444 103.843 527.282 106.14 522.352 108.605L520.336 104.067C528.626 97.9051 535.797 92.9193 541.847 89.11C547.897 85.1887 553.275 82.1636 557.981 80.0349C562.686 77.9061 567.168 76.4496 571.425 75.6653C575.683 74.8811 580.164 74.4889 584.87 74.4889C600.331 74.4889 611.479 78.6344 618.314 86.9253C625.26 95.1041 628.733 108.213 628.733 126.251ZM702.8 47.9357C695.741 47.9357 690.139 45.5269 685.994 40.7092C681.96 35.8916 679.944 30.5137 679.944 24.5756C679.944 18.6376 681.96 13.5398 685.994 9.28234C690.139 4.91282 695.741 2.72806 702.8 2.72806C709.858 2.72806 715.292 4.91282 719.101 9.28234C723.023 13.5398 724.983 18.6376 724.983 24.5756C724.983 30.5137 723.023 35.8916 719.101 40.7092C715.292 45.5269 709.858 47.9357 702.8 47.9357ZM720.95 72.6403V105.412V240.362L744.982 245.404V249.942H665.995V245.404L690.027 240.362V106.084C688.795 105.3 686.946 104.123 684.481 102.555C682.016 100.986 679.159 99.1935 675.91 97.1768C672.773 95.1601 669.468 93.0874 665.995 90.9587V87.9336L720.278 72.6403H720.95ZM813.337 105.412V240.362L837.37 245.404V249.942H758.382V245.404L782.415 240.362V106.084C780.622 104.964 778.045 103.395 774.684 101.378C771.435 99.2495 766.001 95.7763 758.382 90.9587V87.9336L812.665 72.6403H813.337V105.412ZM867.116 245.404L891.316 240.362V132.301C891.316 124.794 889.972 118.52 887.283 113.478C884.706 108.437 880.729 104.683 875.351 102.219C869.973 99.6417 863.027 98.3532 854.512 98.3532C845.66 98.3532 837.202 99.5856 829.135 102.05C821.18 104.403 814.57 106.868 809.304 109.445L807.119 105.916C815.858 99.4176 823.421 94.0957 829.807 89.9503C836.305 85.8049 842.075 82.6118 847.117 80.371C852.159 78.1302 856.92 76.6177 861.402 75.8334C865.884 74.9371 870.645 74.4889 875.687 74.4889C892.157 74.4889 904.033 78.9145 911.315 87.7655C918.598 96.5046 922.239 110.397 922.239 129.444V240.362L946.271 245.404V249.942H867.116V245.404ZM1025.33 328.089C1012.11 328.089 1000.85 327.024 991.547 324.896C982.248 322.879 974.685 320.022 968.859 316.325C963.033 312.628 958.776 308.37 956.087 303.552C953.398 298.735 952.054 293.637 952.054 288.259C952.054 284.002 953.118 279.856 955.247 275.823C957.487 271.789 961.073 267.924 966.002 264.227C970.932 260.641 977.486 257.224 985.665 253.975C993.956 250.726 1004.15 247.813 1016.25 245.236H1027.51V248.261C1014.63 250.166 1004.49 252.911 997.093 256.496C989.811 260.193 984.601 264.395 981.464 269.1C978.439 273.918 976.926 279.016 976.926 284.394C976.926 292.124 979.111 298.679 983.481 304.057C987.962 309.434 994.236 313.524 1002.3 316.325C1010.48 319.238 1020.17 320.694 1031.38 320.694C1044.6 320.694 1055.52 319.126 1064.15 315.989C1072.89 312.852 1079.39 308.594 1083.64 303.216C1088.01 297.838 1090.2 291.788 1090.2 285.066C1090.2 280.024 1088.97 275.711 1086.5 272.125C1084.15 268.652 1080.28 265.683 1074.9 263.218C1069.53 260.866 1062.41 258.905 1053.56 257.336C1044.82 255.88 1034.07 254.703 1021.29 253.807C1010.99 252.799 1002.47 251.286 995.749 249.27C989.138 247.141 983.929 244.564 980.119 241.539C976.422 238.402 973.789 234.929 972.221 231.119C970.764 227.198 970.036 222.884 970.036 218.179C970.036 209.664 973.901 202.493 981.632 196.667C989.363 190.729 999.782 185.968 1012.89 182.382L1015.24 186.416C1007.18 186.976 1001.57 189.049 998.438 192.634C995.413 196.107 993.9 199.636 993.9 203.222C993.9 206.471 994.516 209.272 995.749 211.624C997.093 213.977 999.446 215.994 1002.81 217.675C1006.28 219.243 1011.15 220.644 1017.43 221.876C1023.81 222.996 1032.05 224.005 1042.13 224.901C1054.79 226.021 1065.66 227.814 1074.74 230.279C1083.81 232.632 1091.26 235.713 1097.09 239.522C1103.03 243.219 1107.4 247.645 1110.2 252.799C1113 257.953 1114.4 263.891 1114.4 270.613C1114.4 280.584 1111.15 289.94 1104.65 298.679C1098.15 307.418 1088.29 314.476 1075.07 319.854C1061.96 325.344 1045.38 328.089 1025.33 328.089ZM1027.51 188.769C1015.52 188.769 1004.66 186.304 994.908 181.374C985.273 176.444 977.598 169.722 971.884 161.207C966.283 152.58 963.482 142.777 963.482 131.797C963.482 120.705 966.283 110.846 971.884 102.219C977.598 93.5916 985.273 86.8132 994.908 81.8835C1004.66 76.9538 1015.52 74.4889 1027.51 74.4889C1036.92 74.4889 1045.55 75.9455 1053.39 78.8585C1061.35 81.6594 1068.24 85.6368 1074.06 90.7906C1079.89 95.9444 1084.37 101.994 1087.51 108.941C1090.76 115.887 1092.38 123.506 1092.38 131.797C1092.38 142.777 1089.58 152.58 1083.98 161.207C1078.38 169.722 1070.7 176.444 1060.96 181.374C1051.21 186.304 1040.06 188.769 1027.51 188.769ZM1033.06 183.055C1043.81 181.71 1051.6 175.772 1056.42 165.24C1061.24 154.709 1062.8 142.16 1061.12 127.595C1059.55 112.47 1055.35 100.594 1048.52 91.967C1041.68 83.228 1032.83 79.3066 1021.97 80.2029C1012.11 81.2113 1004.71 87.0373 999.782 97.681C994.852 108.325 993.116 120.873 994.572 135.326C996.029 150.003 1000.17 161.879 1007.01 170.954C1013.96 179.917 1022.64 183.951 1033.06 183.055ZM1049.02 81.0432L1042.13 75.8334C1056.92 76.9538 1068.85 77.402 1077.93 77.1779C1087.12 76.9538 1094.23 76.3936 1099.27 75.4973C1104.31 74.601 1108.07 73.7607 1110.53 72.9764C1113 72.1921 1114.96 71.8 1116.41 71.8C1118.21 71.8 1119.66 72.5283 1120.78 73.9848C1122.02 75.3292 1122.63 77.626 1122.63 80.8752C1122.63 87.7095 1120.84 92.9754 1117.25 96.6726C1113.67 100.37 1109.92 102.219 1105.99 102.219C1103.53 102.219 1100.95 101.322 1098.26 99.5296C1095.69 97.625 1092.38 95.3842 1088.35 92.8073C1084.43 90.2304 1079.33 87.8216 1073.06 85.5808C1066.78 83.34 1058.77 81.8275 1049.02 81.0432ZM1353.75 88.4378L1328.71 83.396V77.8501H1389.71V83.396L1368.03 88.2697L1319.46 254.311H1315.09L1249.05 115.663H1258.96L1201.49 254.311H1197.12L1145.35 89.7822L1123.84 83.396V77.8501H1203V83.396L1178.63 89.4461L1215.94 213.641L1208.21 220.027L1260.31 72.8084H1265.52L1330.39 211.12L1322.15 220.027L1353.75 88.4378ZM1501.98 138.015L1503.83 145.073C1488.03 150.003 1475.2 154.709 1465.34 159.19C1455.59 163.672 1448.14 168.153 1442.99 172.635C1437.83 177.117 1434.31 181.822 1432.4 186.752C1430.5 191.682 1429.54 197.115 1429.54 203.054C1429.54 212.689 1432.34 219.971 1437.95 224.901C1443.55 229.719 1450.38 232.128 1458.45 232.128C1464.95 232.128 1470.61 230.895 1475.42 228.43C1480.24 225.853 1483.99 222.156 1486.68 217.338C1489.48 212.409 1490.89 206.415 1490.89 199.356V122.217C1490.89 110.677 1488.03 101.938 1482.31 96.0004C1476.71 90.0623 1468.14 87.0933 1456.6 87.0933C1451.11 87.0933 1445.57 87.5415 1439.96 88.4378C1434.47 89.2221 1430.16 90.3985 1427.02 91.967L1435.93 85.2447C1435.59 89.3901 1435.03 93.7036 1434.25 98.1852C1433.58 102.555 1432.68 106.532 1431.56 110.117C1430.55 113.703 1429.32 116.391 1427.86 118.184C1426.41 119.977 1424.17 121.377 1421.14 122.386C1418.23 123.394 1415.2 123.898 1412.07 123.898C1408.03 123.898 1404.78 123.114 1402.32 121.545C1399.97 119.865 1398.79 117.288 1398.79 113.815C1398.79 109.109 1401.03 104.459 1405.51 99.8657C1409.99 95.1601 1415.76 90.9026 1422.82 87.0933C1429.99 83.284 1437.67 80.2589 1445.85 78.0182C1454.14 75.6654 1462.04 74.4889 1469.54 74.4889C1482.2 74.4889 1492.34 76.3376 1499.96 80.0349C1507.58 83.7321 1513.12 88.942 1516.6 95.6643C1520.07 102.275 1521.81 110.061 1521.81 119.024V218.683C1521.81 222.38 1522.37 225.349 1523.49 227.59C1524.72 229.831 1526.4 231.455 1528.53 232.464C1530.66 233.472 1533.07 233.976 1535.76 233.976C1539.57 233.976 1543.32 233.36 1547.02 232.128C1550.83 230.895 1554.75 228.878 1558.78 226.077V230.615C1550.49 240.474 1543.15 246.749 1536.77 249.438C1530.38 252.014 1523.82 253.303 1517.1 253.303C1510.49 253.303 1505.28 251.846 1501.47 248.933C1497.66 245.908 1494.92 241.595 1493.24 235.993C1491.67 230.391 1490.72 223.669 1490.38 215.826H1490.89C1488.98 222.996 1485.9 229.439 1481.64 235.153C1477.38 240.755 1472.23 245.18 1466.18 248.429C1460.13 251.678 1453.46 253.303 1446.18 253.303C1432.29 253.303 1420.69 249.606 1411.39 242.211C1402.09 234.817 1397.44 224.061 1397.44 209.944C1397.44 202.549 1398.68 196.051 1401.14 190.449C1403.72 184.735 1408.59 179.301 1415.76 174.147C1423.05 168.994 1433.58 163.56 1447.36 157.846C1461.25 152.132 1479.46 145.522 1501.98 138.015ZM1657 217.338L1639.68 254.311L1561.71 89.7822L1540.19 83.396V77.8501H1620.19V83.396L1595.82 89.4461L1657 217.338ZM1582.38 328.089C1575.21 328.089 1569.27 326.24 1564.56 322.543C1559.86 318.958 1557.5 313.748 1557.5 306.914C1557.5 303.664 1558.06 300.975 1559.19 298.847C1560.31 296.83 1561.71 295.318 1563.39 294.309C1565.18 293.301 1566.86 292.797 1568.43 292.797C1570 292.797 1571.96 293.469 1574.31 294.813C1576.66 296.158 1579.52 297.502 1582.88 298.847C1586.24 300.191 1590.11 300.863 1594.48 300.863C1599.52 300.863 1603.94 300.079 1607.75 298.511C1611.56 297.054 1615.09 294.197 1618.34 289.94C1621.7 285.682 1625.06 279.52 1628.43 271.453L1642.21 238.682L1649.26 221.204L1691.95 88.4378L1666.91 83.396V77.8501H1727.75V83.396L1706.07 88.2697L1636.32 275.991C1631.39 289.211 1626.18 299.575 1620.69 307.082C1615.32 314.7 1609.49 320.078 1603.22 323.215C1596.94 326.464 1590 328.089 1582.38 328.089Z"
        fill="currentColor"></path>
    </svg>
    <div
      class="grid grid-cols-1 mt-12 md:grid-cols-2 gap-y-12 gap-x-12 items-start"
    >
      <div>
        <Text
          tag="p"
          variant="textSM"
          class="font-serif text-base-500 mt-2 max-w-xs"
        >
          Hemingway conducts in-depth interviews with some of the top design
          engineers in the industry, giving you the option to either read the
          full transcripts or listen to the conversations on a variety of
          platforms, ensuring accessibility and convenience for all audiences.

          <br />
          <br />
          These interviews delve into the creative processes, innovative solutions,
          and real-world challenges faced by design engineers, offering valuable
          insights and inspiration for professionals and enthusiasts alike. Whether
          you prefer to engage with the content on your morning commute or during
          a quiet moment at home, Hemingway makes it easy to stay connected to cutting-edge
          ideas in design engineering.
        </Text>
        <Signature class="h-10 mt-12 text-base-400" />
        
      </div>
      <div class="lg:ml-auto">
        {
          footerLinks.map((section) => (
            <div class="flex flex-col ">
              <Text
                tag="h4"
                variant="textXS"
                id={section.id}
                class="font-medium text-white uppercase"
              >
                {section.title}
              </Text>
              <nav
                role="navigation"
                class="flex flex-col gap-1 mt-8"
                aria-labelledby={section.id}
              >
                {section.platforms.map((platform, index) => (
                  <Text
                    tag="a"
                    variant="textXS"
                    href={platform.link}
                    aria-label={`Go to ${platform.name}`}
                    class="text-base-500 hover:underline uppercase font-medium"
                  >
                    {platform.name}
                  </Text>
                ))}
              </nav>
            </div>
          ))
        }
      </div>
      <div class="flex items-center gap-2 h-full lg:pt-12">
        <!-- This link will stick to the bottom -->
        <a href="/" class="mt-auto">
          <Logo class="h-4 text-white" />
        </a>
        <Text
          tag="span"
          class="text-xs font-semibold text-base-600"
          x-data="{ year: new Date().getFullYear() }"
        >
          © <span x-text="year"></span> Lexington Themes.
        </Text>
      </div>
    </div>
  </Wrapper>
</footer>
